.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.boxContainer {
    
  padding: 7px;
  text-align: center;
  border: 2px solid black;
  margin: 6px;
  height: 250px;
  width: 250px;
  background-color: rgb(255, 89, 89);
}
.pizzaName {
  font-size: 25px;
}
.price {
  font-size: 20px;
}

.outter-pizza-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.orders-table,th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

th,td{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-container{
  align-items: center;
  justify-content: center;
  display: flex;
}

th{
  background-color: grey;
}